*.*

!.gitignore

!./nvim/

!*.lua

!./hypr/
!*.json

!./wofi/
!*.conf

!./sway/
Code - OSS/
GitHub Desktop/
Psst/
dconf/
emacs/
go/
google-chrome/
htop/
menus/
nemo/
pulse/
qt6ct/
xarchiver/
zed/
google-chrome-unstable/
vlc/

!./alacritty/
!*.toml

!./waybar/
!*.css
!*.jsonc
!*.py

!./helix/

!./thefuck/

./ncspot/

ncspot/

!*.config

